.error_page {
    text-align: center;
    color: var(--theme-default-header);
    font-weight: var(--font-bold);
    font-size: 36px;
    text-shadow: var(--text-shadow-yellow);
}



.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--text-shadow-blue);
    position: relative;
}


.yoda {
    width: 280px;
}

@media screen and (max-width: 640px) {
    .yoda {
        width: 160px;
    }

    .error_page {
        margin-top: 10%;
        font-size: var(--font-size-header);
    }
    
}
@media (orientation: landscape) and (max-width: 860px) {
    h1{
        font-size: var( --font-size-header);
    }
    .yoda {
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }
    .picture {
        margin: 0 50px;
        height: 120px;
     }
     p{
        font-size: var(--font-size-main);
        margin: 5px 0;
    }
}
@media (orientation: landscape) and (max-width: 640px) {
   
    
     .yoda {
         border-radius: 50%;
         height: 120px;
         width: 120px;
     }
    

    .error_page {
        font-size: var(--font-size-subheader);
    }
}


@keyframes slidein {
    0% {
        /* transform: rotate(0deg); */
        top: 0;
        left: 0;
    }

    25% {
        /* transform: rotate(0deg); */
        bottom: 0;
        left: 0;
    }

    50% {
        /* transform: rotate(0deg); */
        bottom: 0;
        right: 0;
    }

    100% {
        /* transform: rotate(0deg); */
        top: 0;
        right: 0;
    }
}