.text{
    text-align: center;
    text-shadow: 0 0 2px var(--color-white);
    width: 600px;
    margin: auto;
    line-height: 1.7;
    font-size: var(--font-size-header);
    color: var(--color-yellow);
    -webkit-text-stroke-color: var(--color-yellow);
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}
.header_text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
  }