.video {
    /* margin: auto; */
    max-width: 460px;
    width: 50%;
    text-align: center;
    border-radius: var(--border-radius-circle);
}

.video::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none;
}

.shell {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) and (max-width: 860px) {
    .video {
        max-width: 150px;
    }
}


/* Old shadow dom for play button */

/* *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  } */

/* New shadow dom for play button */

/* This one works! */

/* *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  } */